h1{
  margin-top: 100px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 50px;
  margin-bottom: 50px;
}
.grid-container {
  margin-left: 5%; 
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 100px; 
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-bottom: 30px;
}
.grid-item {

  height: 285px;
  width: 205px;
  margin: : auto;
  padding: auto;
  background-repeat: no-repeat;
  background-size: contain; 
}
.caption {
  text-align: center;
  font-family: "Helvetica Neue";
  display: block;
  padding: 3px;
  font-weight: bold;
}

.game{
  width: 203px;
}
.component{
	background-color: white;
}
.component .carousel{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
}
.carousel-control-next{
  top: 310px;
  right: 0%;
  width: 50px;
  height: 100px;
}

.carousel-control-prev{
  top: 310px;
  left: 0%;
  width: 50px;
  height: 100px;
}
.carousel-control-next-icon{
  filter: invert(100%);
  transform: scale(2,2);
}
.carousel-control-prev-icon{
  filter: invert(100%);
  transform: scale(2,2);
}
.carousel-indicators{
  bottom: -2%;
  filter: invert(100%);
  transform: scale(1.5,1.5);
}
.popup_show{
    z-index: 999;
    display: none;
}
.popup_show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: fixed;
    top: 0;
    left: 0;
}
.img-show img{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.popup_show .img-show{
    width: 410px;
    height: 570px;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}












