h1{
  margin-top: 100px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 50px;
  margin-bottom: 50px;
}
.btn-light{
  background-color: #C4C4C4;
}
#katie_carousel{
  margin-left: 3%;
}
.btn-light:hover{
  background-color: hsla(60,80%,30%,0.7);
    color: white;
}
.grid-container {
  margin-left: 5%; 
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 100px; 
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  padding-bottom: 30px;
}
.grid-item {
  height: 150px;
  width: 150px;
  margin: : auto;
  padding: auto;
  background-repeat: no-repeat;
  background-size: contain; 
}

.caption {
  text-align: center;
  font-family: "Raleway";
  display: block;
  padding: 3px;
  font-weight: bold;
}

.game{
  width: 150px;
}
.carousel-control-next{
  position: absolute;
  top: 37.5%;
  right: 5%;
  width: 50px;
  height: 100px;
}

.carousel-control-prev{
  position: absolute;
  top: 37.5%;
  left: 0%;
  width: 50px;
  height: 100px;
}
.carousel-control-next-icon{
  filter: invert(100%);
}
.carousel-control-prev-icon{
  filter: invert(100%);
}
.carousel-indicators{
  bottom:-15%;
  filter: invert(100%);
}








