h1{
  margin-top: 100px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 50px;
  margin-bottom: 50px;
}

.grid-container {
  margin-left: 5%; 
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 100px; 
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-bottom: 30px;
}
.grid-item {

  height: 285px;
  width: 205px;
  margin: : auto;
  padding: auto;
  background-repeat: no-repeat;
  background-size: contain; 
}
.caption {
  text-align: center;
  font-family: "Helvetica Neue";
  display: block;
  padding: 3px;
  font-weight: bold;
}

.game{
  width: 203px;
}
.component{
	background-color: white;
}
.component .carousel{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
}
.carousel-control-next{
  top: 310px;
  right: 0%;
  width: 50px;
  height: 100px;
}

.carousel-control-prev{
  top: 310px;
  left: 0%;
  width: 50px;
  height: 100px;
}
.carousel-control-next-icon{
  filter: invert(100%);
  transform: scale(2,2);
}
.carousel-control-prev-icon{
  filter: invert(100%);
  transform: scale(2,2);
}
.carousel-indicators{
  bottom: -2%;
  filter: invert(100%);
  transform: scale(1.5,1.5);
}
.popup_show{
    z-index: 999;
    display: none;
}
.popup_show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.90);
    position: fixed;
    top: 0;
    left: 0;
}
.img-show img{
    border-right: solid black 2px;
    width: 28vw;
    height: 70vh;
    top: 0;
    left: 0;
}
.popup_show .img-show{
    width: 48vw;
    height: 70vh;
    border-radius: 15px; 
    background: hsl(220,30%,90%,1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    word-wrap: break-word
}
#popup_text{
  overflow-y: scroll;
  padding-left: 20px;
  color: black;
}

.popup_span{
  font-family: "Helvetica Neue";
  color: blue;
  text-decoration: underline;
}
.popup_span:hover{
  cursor: pointer;
}

.commentSpan{
  background-color: hsla(60,80%,80%,80%);

}
.commentSpan:hover{
  cursor: pointer;
  background-color: hsla(60,90%,70%,100%);
}

.success {
  background: hsl(220,50%,50%);
  border-color: hsl(220,0%,0%);
  width: 10vw;
  color: hsl(230,100%,100%);
  margin-bottom: 10px;
  float:right;
}

.success:hover {
  background-color: hsl(220,50%,50%);
  color: white;
}
.card-header:hover{
  cursor: pointer;
}
.card-header::after {
  content: '\002B';
  font-size: 20px;
  color: currentColor;
  display: inline-block;
  vertical-align: middle;
  float:right;
  transform: translateY(5%);
  transition: transform .2s ease-out;
}
.btn-link[aria-expanded="true"] > .card-header::after{
  transform: rotate(180deg);
  content: '\2212';
  transform: translateY(5%);
}
.btn-link  :hover {
  color: #007BFF;
  background: rgba(0,0,0,0.1);
}
.card-body{
  background-color: hsla(220,30%,95%,1);
}

.components_item{
  border-radius: 20px;
}

.components_item:hover{
  cursor: pointer;
}






