
/* Header format*/
h1{
  font-family: "Helvetica Neue";
  font-size: 50px;
  text-align: center;
  background-image: linear-gradient(to left, #041723, #041723);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-container{
  height:50px;
}

* {box-sizing:border-box}

/* Slideshow format */
.slide-container {
  width: 50%;
  height: 55%;
  y-overflow:hidden;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
  height:auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: rgba(50,120,200,0.6);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(50,120,200,1);
}

/* Number text*/
.numbertext {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background:hsl(210,50%,50%);
}

/* The button indicator */
.button {
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.6s ease;
  top: 40%;
  margin-top: -22px;
  position: relative;
  background-color: hsl(220,80%,70%);
  font-size: 110%;
  color: #05386B;
  padding: 20px;
  height: 80px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 0 5px 5px #999;
  border-radius: 10px;
}
.active, .button:hover {
  background-color: hsl(220,90%,80%);
}



/*Textbox formatting*/
.caption-container {
  text-align: center;
  background-color: #33ADFF30;
  padding: 2px 16px;
  color: #052032;
  max-height: 50px;
  margin-bottom:30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rowT:after {
  content: "";
  display: table;
  clear: both;
}

.overlay {
  position: absolute; 
  top: 0; 
  background: rgb(0, 50, 80);
  background: rgba(0, 50, 80, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
.mySlides:hover .overlay{
  transition-delay: 0.5s;
  opacity: 1;
  height:300px;
}
.pic{
  height:300px;
  width:auto;
}
/* At most 5 colums */
.columnT {
  float: left;
  width: 33.3%;
  margin: auto;
  padding:0;
}
.rowT {
  width: auto;
  height:auto;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Transparency effect for button*/
.demo {
  opacity: 0.6;
}

.active,
.button:hover {
  opacity: 1;
}
