/*body {
    background-image: url("main.jpg");
    background-size: cover;      
    background-repeat: no-repeat;
}*/
body { 
	background-image: url("https://images.pexels.com/photos/875858/pexels-photo-875858.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	object-fit: contain;
	position:absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
}
.fa-search{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.navbar{
  height: 70px;
}
.navbar-brand{
  padding-top: 5px;
  padding-right: 20px;
  font-family: "Helvetica Neue"
  font-weight: bold;
  font-size: 24px;
}
.nav-item{
  padding-right: 15px;
  padding-left: 15px;
}
.full{
  padding-top: 15px;
}
.link_icon:hover{
  color: white;
}
#banner{
	background-color: #F5F5F5;
	padding: 4vh 5vw 2vh 5vw;
	width: 100%;
	margin: auto;
	display: flex; 
}
.category{
	padding-right: 22px;
}
.full{
	padding-top: 15px;
}
.half {
  width: 50%;
  margin-left: 25%;
}
.quarter{
	width:35%;
	margin-left: 32%;
}
.nav-item{
	padding-right: 15px;
	padding-left: 15px;
}

#webname{
	font-family: "Lora", serif;
	color:#F2BEA0;
	font-size: 80px;
	text-align: center;
	padding-bottom: 35px;
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	line-height: 26.4px;
	padding-top: 50px; 
}

#slogan{
	font-family: "Lora", serif;
	color:#F2BEA0;
	font-size: 35px;
	text-align: center;
	padding: 20px;
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
}

.caption {
	font-family: "Helvetica Neue";
    display: block;
    text-align: center;
    padding: 3px;
    font-weight: bold;
}
.btn-light{
	background-color: #C4C4C4;
}
.btn-light:hover{
 	background-color: hsla(60,80%,30%,0.7);
  	color: white;
}
#katie_slogan{
	height: 100%;
	width:60%;
	margin: auto;
	flex-grow : 1;
	/*background-color: white;*/
}











