/*body {
    background-image: url("main.jpg");
    background-size: cover;      
    background-repeat: no-repeat;
}*/
body { 
	background-image: url("main.jpg");
	object-fit: contain;
	position:absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
}
.fa-search{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.navbar{
  height: 70px;
}
#navbar_item{
	width: 20vw;
}
.navbar-brand{
  padding-top: 5px;
  padding-right: 20px;
  font-family: "Raleway"
  font-weight: bold;
  font-size: 24px;
}
.navbar-brand:hover {
  cursor: pointer;
}
.full{
  padding-top: 15px;
}
.link_icon:hover{
  color: white;
}
#banner{
	background-image: url("http://www.photos-public-domain.com/wp-content/uploads/2012/08/baby-blue-micro-fiber-cloth-fabric-texture.jpg");*/
	background-color: transparent;
	padding: 4vh 5vw 2vh 5vw;
	width: 100%;
	margin: auto;
	display: flex; 
}
.category{
	width: 128px;
	margin-right: 4vw;
}
.full{
	padding-top: 15px;
}
.half {
  width: 50%;
  margin-left: 25%;
}
.quarter{
	width:35%;
	margin-left: 32%;
}
.nav-item{
	padding-right: 1vw;
	padding-left: 1vw;
}
.management_text{
  font-size: 20px;
  font-family: "Raleway";
  padding: 5px;
}
.io_text{
  font-family: "Raleway"
}

#formdiv{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#webname{
	font-family: "Bad Script", serif;
	color:#F2BEA0;
	font-size: 70px;
	text-align: center;
	padding-bottom: 35px;
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	line-height: 26.4px;
	padding-top: 50px; 
}

#slogan{
	width: 100%;
	font-family: "Raleway", serif;
	color:#F2BEA0;
	font-size: 35px;
	text-align: center;
	padding: 20px;
	font-weight: 500; 
	line-height: 26.4px;
}

.caption {
	width: 128px;
	font-family: "Raleway";
    display: block;
    text-align: center;
    padding: 3px;
    font-weight: bold;
    color:hsl(230,50%,50%);
}
.btn-light{
  background-color: #C4C4C4;
}
.btn-light:hover{
  background-color: hsla(220,60%,100%,0.3);
  color: white;
  cursor: pointer;
}
#katie_slogan{
	height: 100%;
	width:100%;
	margin: auto;
	flex-grow : 1;
	/*background-color: white;*/
}



/* Extra styles for the cancel button */
.cancelbtn {
	border-radius: 5px;
  	width: auto;
 	padding: 10px 18px;
  	background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.register {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.register {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
#username[type=text], #password[type=password] {
	border-radius: 5px;
  	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
}

#loginbutton, #signupbutton {
    background-color: hsl(220,50%,50%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
#cancelbutton{
  color:white;
}
#loginbutton:hover {
  background-color: hsl(220,50%,50%,0.8);
}
#signupbutton:hover{
  background-color: hsl(220,50%,50%,0.8);
}
#cancelbutton{
  border-radius: 5px;
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
#cancelbutton:hover{
  background-color: hsla(0,100%,50%,0.6);
}
#avatar {
  width: 40%;
  border-radius: 50%;
  margin-left: 2vw;
}
#avatar:hover {
	cursor: pointer;
}
#card_avatar {
	padding-top: 1vh;
	width: 100%; 
	border-radius: 50%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.dropdown {
  position: relative;
  display: inline-block;
}
#profile_card {
	display: none;
	position: absolute;
	top: 8vh;
	right: 8vw;
	background-color: #f5f5f5;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
h5{	
	text-align: left;
	margin: 2vh 2vw 2vh 2vw;
	font-family: "Helvetica Neue";
}
#logout_button{
  background-color: hsl(220,50%,50%);
  color: white;
  margin-left: 1vw;
  margin-bottom: 2vh;
}
#switch_button{
  background-color: hsl(220,50%,50%);
  color: white;
  margin-right:0vw;
  margin-bottom: 2vh;
}
#logout_button:hover {
  background-color: hsl(220,50%,50%,0.8);
}
#switch_button:hover{
  background-color: hsl(220,50%,50%,0.8);
}

#check_login{
  background-color: hsl(210,60%,80%);
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3); 
  border-radius: 7px; 
  color: hsl(220,50%,30%); 
  border: 5px hsl(210,60%,80%) solid; border-top: 1px; font-size: 1.5em;
}
#check_login:hover{
  background-color: hsl(210,60%,80%);
  border: 5px hsl(210,60%,80%) solid; border-top: 1px; font-size: 1.5em;
  color: hsl(220,50%,20%);
  box-shadow: 3px 6px 12px 3px rgba(0, 0, 0, 0.3); 
}