body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
  padding-bottom: 2%;
  font-size: 100%;
}
.fa-search{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.navbar{
  height: 70px;
}
.navbar-brand{
  padding-top: 5px;
  padding-right: 20px;
  font-family: "Helvetica Neue"
  font-weight: bold;
  font-size: 24px;
}
.nav-item{
  padding-right: 15px;
  padding-left: 15px;
}
.full{
  padding-top: 15px;
}
.link_icon:hover{
  color: white;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 80%;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}


/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #CAE4DB, #f9f8fd);
  padding: 40px 0 10px 0;

}
#reg{
  margin-top: 80px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
#register_button{
  color: #fff;
}
.btn-light{
  background-color: #C4C4C4;
}
.btn-light:hover{
  background-color: hsla(60,80%,30%,0.7);
    color: white;
}
.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #1dbab4;
}
h1, h3, h4, h5, p {
  margin-bottom: 20px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
p {
  color: #595259;
  font-size: 14px;
  font-weight: 400;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}



/*
  ========================================
  Register
  ========================================
*/

.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}
form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.register-group label {
  color: #1dbab4;
  cursor: pointer;
  font-weight: 400;
  font-size: 110%;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #a9b2b9;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 10px 0;
  padding: 5px 8px;
  font-size:80%;
  font-color:#c9d2d9;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}
