body { 
  position: absolute;
  top:0; 
  bottom:0; 
  right:0; 
  left:0; 
}
.fa-search{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.navbar{
  height: 70px;
}
.navbar-brand{
  padding-top: 5px;
  padding-right: 20px;
  font-family: "Raleway"
  font-weight: bold;
  font-size: 24px;
}
.navbar-brand:hover {
  cursor: pointer;
}
.nav-item{
  padding-right: 1vw;
  padding-left: 1vw;
}
#navbar_item{
  width: 20vw;
}
.full{
  padding-top: 15px;
}
.link_icon:hover{
  color: white;
}
.btn-circle {
  background-color: #295FA6;  
	margin-left: 5%; 
  width: 50px;
  height: 50px;
  border-radius: 35px;
  font-size: 13px;
}
.btn-circle:hover{
  background-color: #228be6;
}
.btn-circle{
  color: white;
  display: flex;
  justify-content: center;
}

.sidebar {
  top: 0;
  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: hsla(220,50%,30%,0.1);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}
#menu_link{
  display: none;
}
#menu_link a{
  padding: 8px 8px 8px 32px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.0s;
  margin-left: 5%; 
  font-family: "Raleway";
}
.menu a:hover {
  background-color: grey;
}
.sidebar_link{
  width: 250px;
}
#back_tab{
  margin-top: 50px;
}
#menu_tab{
  margin-top: 20px;
}
#comment_tab{
  margin-top: 20px;
}
#back_button{
  margin-left: 7px;
}
#menu_button{
  margin-left: 7px;
}
#comment_button{
  margin-left: 7px;
}

#back_tab_tree{
  max-width: 270px;
  display: none;
  text-align: center;
}


#back_tab_tree div{
  width: 250px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 160px;
  float: left;
}

#back_tab_tree a{
  font-size: 14px;
}
#back_tab_tree div:hover{
  opacity: 0.5;
}

#back_tab_tree a:hover{
  cursor: pointer;
  font-size: 15px;  

}

.chat-popup {
  border-radius: 5px;
  background-color: white;
  color: black;
  display: none;
  margin-top: 20px;
  width: 100%;
  bottom: 0px;
  right: 7px;
  margin-left: 7px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  text-align: center;
}
.btn-light:hover{
  background-color: hsla(60,80%,30%,0.7);
  color: white;
  cursor: pointer;
}
.comment_title{
  background-color: #228be6;
  padding-top: 5px;
  margin-top: 2px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.fa-angle-double-down:hover{
  color: red;
}


.hieu_lockbtn{
  position: absolute;
  top: 80px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: hsl(220,70%,90%);
  border-radius: 15px !important;
  color: black;
}

.cancelbtn {
  border-radius: 5px;
    width: auto;
  padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
#login_form {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.register {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.register {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
#username[type=text], #password[type=password] {
  border-radius: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#loginbutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#loginbutton:hover {
  opacity: 0.8;
}

#avatar {
  width: 40%;
  border-radius: 50%;
  margin-left: 2vw;
}
#avatar:hover {
  cursor: pointer;
}
#card_avatar {
  padding-top: 1vh;
  width: 100%; 
  border-radius: 50%;
}
#profile_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.dropdown {
  position: relative;
  display: inline-block;
}
#profile_card {
  display: none;
  position: absolute;
  top: 8vh;
  right: 8vw;
  background-color: #f5f5f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
h5{ 
  text-align: left;
  margin: 2vh 2vw 2vh 2vw;
  font-family: "Helvetica Neue";
}
#logout_button{
  margin-left: 1vw;
  margin-bottom: 2vh;
}
#switch_button{
  margin-right:0vw;
  margin-bottom: 2vh;
}